.Home > section {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.Home > section span {
  font-weight: 500;
  font-size: 14px;
  color: #000000a8;
}

.description {
  display: none;
}