.Item {
  align-self: flex-start;
  width: 250px;
  transition: .3s ease-in-out;
}

.Item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img_container {
  max-width: 200px;
  margin: auto;
}

.Item_description {
  position: absolute;
  bottom: -1.5rem;
  left: 0;

  width: 100%;
  background-color: #fff;
  padding: 0 1.2rem 1rem 1.2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: 0;
  animation: show .3s ease-in-out forwards;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}