.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Header span {
  font-weight: 500;
  font-size: 1.2rem;
}

.cart_nav {
  max-width: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.cart_nav img {
  max-width: 100%;
  max-height: 100%;
}

.cart_nav span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -70%);
}