.data_container div {
  display: flex;
  gap: 1rem;
}

.data_container label {
  font-size: 14px;
}

.data_container input {
  margin-bottom: 1rem;
}

.data_container button {
  background-color: #201c26;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
}